<!-- ccpay-web-component integration -->

<ccpay-payment-lib 
    [API_ROOT]="apiRoot" 
    [BULKSCAN_API_ROOT]="bulkscanapiRoot"
    [REFUNDS_API_ROOT] ="refundsapiRoot"
    [CCD_CASE_NUMBER]="ccdCaseNumber"
    [VIEW]="view" 
    [TAKEPAYMENT]="takePayment" 
    [PAYMENT_GROUP_REF]="paymentGroupRef"
    [EXC_REFERENCE]="excReference"
    [DCN_NUMBER]="dcnNumber"
    [SELECTED_OPTION]="selectedOption"
    [EXC_REFERENCE]="excReference"
    [ISBSENABLE]="isBulkscanningEnable"
    [ISSFENABLE]="isStrategicFixEnable"
    [ISTURNOFF]="isTurnOff"
    [CASETYPE]="caseType"
    [ISOLDPCIPALOFF]="isOldPcipalOff"
    [ISNEWPCIPALOFF]="isNewPcipalOff"
    >
</ccpay-payment-lib>

