<div>
    <h1 class="heading-xlarge">Summary of fees</h1>
  
    <form>
      <div class="form-group">
        <div class="fee-details">
          <table>
            <tbody>
              <tr>
                <td>CCD Case reference: </td>
                <td>{{payModel.ccd_case_number}}</td>
              </tr>
              <tr>
                <td>Fee code: </td>
                <td>{{feeModels[0].code}}</td>
              </tr>
              <tr>
                <td>Fee description: </td>
                <td>{{feeModels[0].description}}</td>
              </tr>
              <tr>
                <td>Price: </td>
                <td>{{display_fee_amount}}</td>
              </tr>
              <tr>
                <td>Help with fees (HWF) code: </td>
                <td>{{remissionModel.hwf_reference}}</td>
              </tr>
              <tr>
                <td>Amount left to pay: </td>
                <td>{{display_amount_to_pay}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group" id="backToPreviousPage">
        <fieldset class="inline">
          <legend>
            <span (click)="onGoBack()"><a>Back to Add fee details page</a></span>
          </legend>
        </fieldset>
      </div>
      <div class="form-group">
        <div class="button-grid__button">
          <button class="button button-view" type="submit">
            Confirm fees
          </button>
        </div>
      </div>
    </form>
</div>
