<legend><h1 class="heading-xlarge">Search for a case</h1></legend>
<form [formGroup]="searchForm" [className]="hasErrors ? 'form-group form-group-error': 'form-group'">
  <label class="heading-small" for="ccd-search">
    <span class="form-hint"> Search using a CCD case reference number. For example: 1111-2222-3333-4444</span>
    <span *ngIf="hasErrors" class="error-message">Enter a CCD case reference number in the correct format</span>
  </label>
  <div class="govuk-form-group">
        <input #searchInput [className]="hasErrors? 'form-control form-control-error': 'form-control'" id="ccd-search" type="text" name="ccd-search" formControlName="searchInput">
  </div>
  <div class="govuk-form-group">
  <button class="govuk-button" type="submit" [disabled]="searchInProgress" (click)="searchFees()">Search</button>
  </div>

  <div class="nocase-message" *ngIf="noCaseFound">No matching cases found</div>
</form>

