# exclude all by default

*

# exceptions from `exclude all` rule

!.yarn/**
!.yarnrc.yml
!package.json
!yarn.lock

!tsconfig.json
!start.js
!server.js
!config/**
!express/**
!data/**
!app-insights.js
!dist/**
!.git
!version
