

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main" *ngIf="!isCookiePageEnabled">
    <div class="govuk-grid-row">
      <a href="/"  class="link-back">Back</a>
      <div class="cookie-preference-success notification-banner--success">
        <div class="success-message" aria-labelledby="success-title" role="alert" tabindex="-1">
          <h2 class="govuk-heading-m notification-fs">
            Your cookie settings were saved
          </h2>
          <div>
            <p class="govuk-body-m notification-fs">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
          </div>
          <a class="govuk-link notification-fs" href="/">Go to homepage</a>
        </div>
      </div>
        <h1 class="heading-xlarge" id="cookies">Cookies</h1>

        <p >A cookie is a small piece of data that’s stored on your computer, tablet, or phone when
          you visit a website. Most websites need cookies to work properly.</p>
       <hr>

        <h2 class="heading-large" id="how-cookies-are-used-in-this-service">How cookies are used in this service</h2>
        <p>This service uses them to:</p>

        <ul class="govuk-list--bullet">
          <li>measure how you use the service so it can be improved</li>
          <li>remember the notifications you’ve seen so that you’re not shown them again</li>
          <li>temporarily store the answers you give</li>
        </ul>
        <br/>
        <p >Find out more about <a target="_blank" href="http://www.aboutcookies.org/" rel="noopener">how to manage
          cookies</a>.</p>
         <hr>
        <ng-container *ngIf="countCookies(GOOGLE)">
          <h2 class="govuk-heading-l" id="1-to-measure-website-usage">Cookies used to measure website usage</h2>
          <p >We use Google Analytics software to collect information about how you use this service. We do this to help make sure the service is meeting the needs of its users and to help us make improvements, for example improving site search.</p>
          <p >Google Analytics stores information about:</p>

          <ul class="govuk-list--bullet">
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the service</li>
            <li>what you click on while you’re visiting the service</li>
          </ul>
          <br/>
          <p >We allow Google to use or share our analytics data. You can find out more about how Google use this information in their  <a target="_blank"
                                                    href="https://www.google.com/policies/privacy/partners/" rel="noopener">privacy
              policy</a>.</p>
          <p >You can <a target="_blank" href="https://tools.google.com/dlpage/gaoptout" rel="noopener">opt out of
            Google Analytics</a> if you do not want Google to have access to your information.</p>
          <p >Google Analytics sets the following cookies:</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" scope="col">
                Cookie name</th>
              <th scope="col" class="govuk-table__header" scope="col">What this cookie is for</th>
              <th scope="col" class="govuk-table__header" scope="col">Expires after</th>
            </tr>
            </thead>
            <tbody>
            <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(GOOGLE)">
              <td class="govuk-table__cell">{{cookie.name}}</td>
              <td class="govuk-table__cell">{{cookie.purpose}}</td>
              <td class="govuk-table__cell">{{cookie.expires}}</td>
            </tr>
            </tbody>
          </table>
        </ng-container>
       
        <ng-container *ngIf="countCookies(DYNATRACE)">
          <h2 class="govuk-heading-l" id="1-to-measure-website-usage">Cookies used to measure application performance
          </h2>
          <p >We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order to resolve issues within our services as well as collect data on how our services can be improved. HMCTS store information about:</p>
        
          <ul class="govuk-list--bullet">
            <li>site performance</li>
            <li>website usage</li>
            <li>user behaviour</li>
          </ul>

          <p >Information is presented within the Application Performance Monitoring service for the purposes detailed above. We do not use or share the information for any other purpose. We do not allow Dynatrace to use or share the information for any other purposes.</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" scope="col">Name</th>
              <th scope="col" class="govuk-table__header" scope="col">Purpose</th>
              <th scope="col" class="govuk-table__header" scope="col">Expires</th>
            </tr>
            </thead>
            <tbody>
            <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(DYNATRACE)">
              <td class="govuk-table__cell">{{cookie.name}}</td>
              <td class="govuk-table__cell">{{cookie.purpose}}</td>
              <td class="govuk-table__cell">{{cookie.expires}}</td>
            </tr>
            </tbody>
          </table>
          <h3 class="heading-medium">Essential cookies</h3>
          <p>These essential cookies make the service more secure. They always need to be on.</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead>
            <tr>
                <th scope="col">Cookie name</th>
                <th scope="col">What this cookie is for</th>
                <th scope="col">Expires after</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">Idam.Session</th>
                <td>Keeps track of your login state</td>
                <td>When session ends</td>
            </tr>
            <tr>
                <th scope="col">Idam.AuthId</th>
                <td>Keeps track of your login state when using multi-factor authentication</td>
                <td>When session ends</td>
            </tr>
            <tr>
                <th scope="col">Idam.SSOSession</th>
                <td>Keeps track of your login state when using federated authentication</td>
                <td>When session ends</td>
            </tr>
            <tr>
                <th scope="col">idam_ui_locales</th>
                <td>Stores your language preferences</td>
                <td>10 years</td>
            </tr>
            <tr>
                <th scope="col">XSRF-TOKEN</th>
                <td>Helps protect against forgery</td>
                <td>When session ends</td>
            </tr>
            </tbody>
        </table>
        <p><a href="Javascript:void(0);" (click)="showCookiePage()">Find out more about essential cookies</a>.</p>
          <form class="cookie-preferences-form">
            <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s notification-fs">
                     Allow cookies that measure website use?
                  </legend>
                  <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="analytics" name="analytics" type="radio" value="on">
                        <label class="govuk-label govuk-radios__label notification-fs" for="analytics">
                        Use cookies that measure my website use
                        </label>
                     </div>
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="analytics-2" name="analytics" type="radio" value="off" checked="">
                        <label class="govuk-label govuk-radios__label notification-fs" for="analytics-2">
                        Do not use cookies that measure my website use
                        </label>
                     </div>
                  </div>
               </fieldset>
            </div>
            <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s notification-fs">
                     Allow cookies that measure website application performance monitoring?
                  </legend>
                  <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apm" name="apm" type="radio" value="on">
                        <label class="govuk-label govuk-radios__label notification-fs" for="apm">
                        Use cookies that measure website application performance monitoring
                        </label>
                     </div>
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apm-2" name="apm" type="radio" value="off" checked="">
                        <label class="govuk-label govuk-radios__label notification-fs" for="apm-2">
                        Do not use cookies that measure website application performance monitoring
                        </label>
                     </div>
                  </div>
               </fieldset>
            </div>
            <button class="govuk-button notification-fs" data-module="govuk-button">
            Save
            </button>
         </form>  
        </ng-container>
      </div>
  </main>
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main" *ngIf="isCookiePageEnabled">    
    <article class="content__body">
        <a href="Javascript:void(0);" (click)="hideCookiePage()" class="link-back">Back</a>
        <h1 class="heading-xlarge" id="skiplinktarget">
            Cookies
        </h1>
        <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <div id="nav-links">

                <ol class="nav-list ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                    <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="cookies#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">How cookies are used across services</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-5" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="cookies#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Appeal a benefit decision service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="cookies#tabs-3" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-3">Apply for divorce service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="cookies#tabs-4" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-4">Apply for probate service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false"><a href="cookies#tabs-5" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-5">Money claims service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-6" aria-selected="false" aria-expanded="false"><a href="cookies#tabs-6" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-6">Family public law service</a></li>
                </ol>
                <hr>

                <div id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false">
                    <!--Cookies Across Services-->
                    <h2 class="heading-large" id="overview">How cookies are used across services</h2>

                    <p>A cookie is a small piece of data that’s stored on your computer, tablet, or phone when you visit a website. Most websites need cookies to work properly.</p>
                    <h2>We use them to:</h2>
                    <ul class="list list-bullet">
                        <li>measure how you use the service so it can be improved</li>
                        <li>remember the notifications you’ve seen so that you’re not shown them again</li>
                        <li>temporarily store the answers you give</li>
                    </ul>
                    <p>Find out more about <a target="_blank" href="http://www.aboutcookies.org/" rel="noopener">how to manage cookies<span class="visually-hidden">
                        (opens in a new tab)</span></a>
                        .
                    </p>

                    <h3 class="heading-medium">Cookies used to measure website usage</h3>

                    <p>We use Google Analytics software to collect information about how you use this service. We do this to help make sure the service is meeting the needs of its users and to help us make improvements, for example improving site search.</p>
                    <h2>Google Analytics stores information about:</h2>
                    <ul class="list list-bullet">
                        <li>the pages you visit</li>
                        <li>how long you spend on each page</li>
                        <li>how you got to the service</li>
                        <li>what you click on while you’re visiting the service</li>
                    </ul>
                    <p>We allow Google to use or share our analytics data. You can find out more about how Google use this information in their <a href="https://www.google.com/policies/privacy/partners/" rel="noopener">Privacy Policy</a>.</p>
                    <p>You can <a href="https://tools.google.com/dlpage/gaoptout" rel="noopener">opt out of Google Analytics</a> if you do not want Google to have access to your information</p>
                    <p>Google Analytics sets the following cookies:</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">_ga</th>
                            <td>This helps us count how many people visit the service by tracking if you’ve visited before</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <th scope="col">_gat</th>
                            <td>Manages the rate at which page view requests are made</td>
                            <td>10 minutes</td>
                        </tr>
                        <tr>
                            <th scope="col">_gid</th>
                            <td>Identifies you to the service</td>
                            <td>24 hours</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to turn our introductory message off</h3>
                    <p>You may see a welcome message when you first visit the service. We’ll store a cookie so that your computer knows not to show this message again.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">seen_cookie_message</th>
                            <td>Saves a message to let us know that you’ve seen our cookie message</td>
                            <td>1 month</td>
                        </tr>
                        <tr>
                            <th scope="col">cookies_policy</th>
                            <td>Stores cookies preferences</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <th scope="col">cookies_preferences_set</th>
                            <td>Stores details about cookies preferences</td>
                            <td>1 year</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to measure application performance</h3>
                    <p>We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order to resolve issues within our services as well as collect data on how our services can be improved. HMCTS store information about:</p>
                    <ul class="list list-bullet">
                        <li>site performance</li>
                        <li>website usage</li>
                        <li>user behaviour</li>
                    </ul>

                    <p>Information is presented within the Application Performance Monitoring service for the purposes detailed above. We do not use or share the information for any other purpose. We do not allow Dynatrace to use or share the information for any other purposes.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">dtCookie</th>
                            <td>Tracks a visit across multiple request</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">dtLatC</th>
                            <td>Measures server latency for performance monitoring</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">dtPC</th>
                            <td>Required to identify proper endpoints for beacon transmission; includes session ID for correlation</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">dtSa</th>
                            <td>Intermediate store for page-spanning actions</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">rxVisitor</th>
                            <td>Visitor ID to correlate sessions</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <th scope="col">rxvt</th>
                            <td>Session timeout</td>
                            <td>When session ends</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-2" aria-labelledby="ui-id-5" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
                    <!--Appeal Benefit-->
                    <h2 class="heading-large">Appeal a benefit decision service</h2>
                    <h3 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)</h3>
                    <p>
                        Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far.<br>
                        These are temporary cookies and are automatically deleted a short while after you leave the website.
                    </p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">session</th>
                            <td>Carries details of your current session</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">connect.sid</th>
                            <td>Carries details of your current session</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">i18n</th>
                            <td>Identifies your preferred language</td>
                            <td>When session ends</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-3" aria-labelledby="ui-id-3" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <!--Divorce-->
                    <h2 class="heading-large">Apply for divorce service</h2>
                    <h3 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)</h3>
                    <p>
                        Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far.<br>
                        These are temporary cookies and are automatically deleted a short while after you leave the website.
                    </p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">connect.sid</th>
                            <td>Carries details of your current session</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">session_ID</th>
                            <td>Keeps track of your answers</td>
                            <td>When you close your browser</td>
                        </tr>

                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to identify you when you come back to the service</h3>
                    <p>We use authentication cookies to identify you when you return to the service.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">__auth-token</th>
                            <td>Identifies you to the service</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">TSxxxxxxxx</th>
                            <td>Protects your session from tampering</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">__state</th>
                            <td>Identifies you to the service and secures your authentication</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-4" aria-labelledby="ui-id-4" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <!--Probate-->
                    <h2 class="heading-large">Apply for probate service</h2>
                    <h3 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)</h3>
                    <p>
                        Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far.<br>
                        These are temporary cookies and are automatically deleted a short while after you leave the website.
                    </p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">connect.sid</th>
                            <td>Carries details of your current session</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to identify you when you come back to the service</h3>
                    <p>We use authentication cookies to identify you when you return to the service.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">__auth-token</th>
                            <td>Identifies you to the service</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">TS01842b02</th>
                            <td>Protects your session from tampering</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">__state</th>
                            <td>Identifies you to the service and secures your authentication</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">_csrf</th>
                            <td>Helps protect against forgery</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-5" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <!-- Money Claims Service -->
                    <h2 class="heading-large">Money claims service</h2>
                    <h3 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)</h3>
                    <p>
                        Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far.<br>
                        These are temporary cookies and are automatically deleted a short while after you leave the website.
                    </p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">session_ID</th>
                            <td>Keeps track of your answers</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">eligibility-check</th>
                            <td>Stores answers to eligibility questions</td>
                            <td>Ten minutes</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to identify you when you come back to the service</h3>
                    <p>We use authentication cookies to identify you when you return to the service.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">lang</th>
                            <td>Identifies your prefered language</td>
                            <td>When session ends</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">state</th>
                            <td>Identifies you to the service and secures your authentication</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">ARRAfinnity</th>
                            <td>Protects your session from tampering</td>
                            <td>When session ends</td>
                        </tr>
                        <tr>
                            <th scope="col">_csrf</th>
                            <td>Helps protect against forgery</td>
                            <td>When session ends</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-6" aria-labelledby="ui-id-5" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
                    <!-- Family Public Law -->
                    <h2 class="heading-large">Family public law service</h2>
                    <h3 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)</h3>
                    <p>
                        Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far.<br>
                        These are temporary cookies and are automatically deleted a short while after you leave the website.
                    </p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">connect.sid</th>
                            <td>Carries details of your current session</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">sessionKey</th>
                            <td>Protects your session using encryption</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to identify you when you come back to the service</h3>
                    <p>We use authentication cookies to identify you when you return to the service.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">__auth-token</th>
                            <td>Identifies you to the service</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col">Cookie name</th>
                            <th scope="col">What this cookie is for</th>
                            <th scope="col">Expires after</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">TSxxxxxxxx</th>
                            <td>Protects your session from tampering</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">__state</th>
                            <td>Identifies you to the service and secures your authentication</td>
                            <td>When you close your browser</td>
                        </tr>
                        <tr>
                            <th scope="col">X_CMC</th>
                            <td>Helps us keep track of your session</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>

</main>
</div>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <div class="open-government-licence">
          <p class="logo">
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
          </p>
          <p>All content is available under the
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
      </div>
    </div>
  </div>
</footer>
