<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <a (click)="backClicked()"  class="link-back">Back</a>
    <div class="cookie-preference-success notification-banner--success">
      <div class="success-message" aria-labelledby="success-title" role="alert" tabindex="-1">
        <h2 class="govuk-heading-m notification-fs">
          Your cookie settings were saved
        </h2>
        <div>
          <p class="govuk-body-m notification-fs">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
        </div>
        <a class="govuk-link notification-fs" href="/">Go to homepage</a>
      </div>
    </div>
    <h1 class="heading-xlarge" id="cookies">Cookies</h1>

    <p >A cookie is a small piece of data that’s stored on your computer, tablet, or phone when
    you visit a website. Most websites need cookies to work properly.</p>
    <hr>

      <h2 class="heading-large" id="how-cookies-are-used-in-this-service">How cookies are used in this service</h2>
      <p>This service uses them to:</p>

      <ul class="govuk-list--bullet">
        <li>measure how you use the service so it can be improved</li>
        <li>remember the notifications you’ve seen so that you’re not shown them again</li>
        <li>temporarily store the answers you give</li>
      </ul>
      <br/>
      <p >Find out more about <a target="_blank" href="http://www.aboutcookies.org/" rel="noopener">how to manage
      cookies</a>.</p>
      <hr>
        @if (countCookies(GOOGLE)) {
          <h2 class="govuk-heading-l" id="1-to-measure-website-usage">Cookies used to measure website usage</h2>
          <p >We use Google Analytics software to collect information about how you use this service. We do this to help make sure the service is meeting the needs of its users and to help us make improvements, for example improving site search.</p>
          <p >Google Analytics stores information about:</p>
          <ul class="govuk-list--bullet">
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the service</li>
            <li>what you click on while you’re visiting the service</li>
          </ul>
          <br/>
          <p >We allow Google to use or share our analytics data. You can find out more about how Google use this information in their  <a target="_blank" href="https://www.google.com/policies/privacy/partners/" rel="noopener">privacy policy</a>.</p>
          <p >You can <a target="_blank" href="https://tools.google.com/dlpage/gaoptout" rel="noopener">opt out of
          Google Analytics</a> if you do not want Google to have access to your information.</p>
          <p >Google Analytics sets the following cookies:</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" scope="col">
                Cookie name</th>
                <th scope="col" class="govuk-table__header" scope="col">What this cookie is for</th>
                <th scope="col" class="govuk-table__header" scope="col">Expires after</th>
              </tr>
            </thead>
            <tbody>
              @for (cookie of cookiesByCat(GOOGLE); track cookie) {
                <tr class="govuk-table__row" scope="col">
                  <td class="govuk-table__cell">{{cookie.name}}</td>
                  <td class="govuk-table__cell">{{cookie.purpose}}</td>
                  <td class="govuk-table__cell">{{cookie.expires}}</td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (countCookies(DYNATRACE)) {
          <h2 class="govuk-heading-l" id="1-to-measure-website-usage">Cookies used to measure application performance
          </h2>
          <p >We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order to resolve issues within our services as well as collect data on how our services can be improved. HMCTS store information about:</p>
          <ul class="govuk-list--bullet">
            <li>site performance</li>
            <li>website usage</li>
            <li>user behaviour</li>
          </ul>
          <p >Information is presented within the Application Performance Monitoring service for the purposes detailed above. We do not use or share the information for any other purpose. We do not allow Dynatrace to use or share the information for any other purposes.</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" scope="col">
                Cookie name</th>
                <th scope="col" class="govuk-table__header" scope="col">What this cookie is for</th>
                <th scope="col" class="govuk-table__header" scope="col">Expires after</th>
              </tr>
            </thead>
            <tbody>
              @for (cookie of cookiesByCat(DYNATRACE); track cookie) {
                <tr class="govuk-table__row" scope="col">
                  <td class="govuk-table__cell">{{cookie.name}}</td>
                  <td class="govuk-table__cell">{{cookie.purpose}}</td>
                  <td class="govuk-table__cell">{{cookie.expires}}</td>
                </tr>
              }
            </tbody>
          </table>
          <h3 class="heading-medium">Essential cookies</h3>
          <p>These essential cookies make the service more secure. They always need to be on.</p>
          <table aria-label="cookie-details" class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" scope="col">
                Cookie name</th>
                <th scope="col" class="govuk-table__header" scope="col">What this cookie is for</th>
                <th scope="col" class="govuk-table__header" scope="col">Expires after</th>
              </tr>
            </thead>
            <tbody>
              @for (cookie of cookiesByCat(SECURITY); track cookie) {
                <tr class="govuk-table__row" scope="col">
                  <td class="govuk-table__cell">{{cookie.name}}</td>
                  <td class="govuk-table__cell">{{cookie.purpose}}</td>
                  <td class="govuk-table__cell">{{cookie.expires}}</td>
                </tr>
              }
              @for (cookie of cookiesByCat(IDENTITY); track cookie) {
                <tr class="govuk-table__row" scope="col">
                  <td class="govuk-table__cell">{{cookie.name}}</td>
                  <td class="govuk-table__cell">{{cookie.purpose}}</td>
                  <td class="govuk-table__cell">{{cookie.expires}}</td>
                </tr>
              }
              @for (cookie of cookiesByCat(USAGE); track cookie) {
                <tr class="govuk-table__row" scope="col">
                  <td class="govuk-table__cell">{{cookie.name}}</td>
                  <td class="govuk-table__cell">{{cookie.purpose}}</td>
                  <td class="govuk-table__cell">{{cookie.expires}}</td>
                </tr>
              }
            </tbody>
          </table>
          <form class="cookie-preferences-form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s notification-fs">
                  Allow cookies that measure website use?
                </legend>
                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="analytics" name="analytics" type="radio" value="on">
                    <label class="govuk-label govuk-radios__label notification-fs" for="analytics">
                      Use cookies that measure my website use
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="analytics-2" name="analytics" type="radio" value="off" checked="">
                    <label class="govuk-label govuk-radios__label notification-fs" for="analytics-2">
                      Do not use cookies that measure my website use
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s notification-fs">
                  Allow cookies that measure website application performance monitoring?
                </legend>
                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="apm" name="apm" type="radio" value="on">
                    <label class="govuk-label govuk-radios__label notification-fs" for="apm">
                      Use cookies that measure website application performance monitoring
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="apm-2" name="apm" type="radio" value="off" checked="">
                    <label class="govuk-label govuk-radios__label notification-fs" for="apm-2">
                      Do not use cookies that measure website application performance monitoring
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button notification-fs" data-module="govuk-button">
              Save
            </button>
          </form>
        }
      </div>


    </div>

    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <div class="footer-meta">
          <div class="footer-meta-inner">
            <div class="open-government-licence">
              <p class="logo">
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
              </p>
              <p>All content is available under the
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
