<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
        <a *ngIf="showFeeDetails" [href]="'/fee-search?ccdCaseNumber=' + ccdNo + '&selectedOption=' + selectedOption +'&takePayment=true'+bulkScanningTxt+''" class="govuk-back-link">Back</a>

      <a *ngIf="!showFeeDetails" [href]="'/payment-history/' + ccdNo + '?view=case-transactions&selectedOption=' + selectedOption + '&dcn=' + dcnNo + '&takePayment=true'+bulkScanningTxt+''"   class="govuk-back-link">Back</a>
    </li>
  </ol>
</div>

<legend *ngIf="!showFeeDetails">
  <h1 class="heading-xlarge">Search for a fee</h1>
  <input #myInput type='hidden' id='iFrameDrivenImageValue' value='SEARCHFEES'>
</legend>

<pay-fee-register-search
  *ngIf="!showFeeDetails"
  [APIRoot]='"api"'
  (selectedFeeEvent)="selectFee($event)"></pay-fee-register-search>


<app-fee-details
  *ngIf="showFeeDetails"
  [fee]="preselectedFee"
  (restartSearchEvent)="onGoBack()"
  (submitFeeVolumeEvent)="selectPreselectedFeeWithVolume($event)"></app-fee-details>
