<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a [href]="'/payment-history/' + ccdNo + '?view=case-transactions&takePayment=true'"   class="govuk-back-link">Back</a>
    </li>
  </ol>
</div>

<legend *ngIf="!showFeeDetails">
  <h1 class="heading-xlarge">Search for a fee</h1>
</legend>

<pay-fee-register-search
  *ngIf="!showFeeDetails"
  [APIRoot]='"api"'
  (selectedFeeEvent)="selectFee($event)"></pay-fee-register-search>


<app-fee-details
  *ngIf="showFeeDetails"
  [fee]="preselectedFee"
  [isSubmitBtnDisabled] = "isSubmitBtnDisabled"
  (restartSearchEvent)="onGoBack()"
  (submitFeeVolumeEvent)="selectPreselectedFeeWithVolume($event)"></app-fee-details>
