<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      @if (showFeeDetails) {
        <a [href]="'/fee-search?ccdCaseNumber=' + ccdNo + '&selectedOption=' + selectedOption +'&takePayment=true'+bulkScanningTxt+''" class="govuk-back-link">Back</a>
      }

      @if (!showFeeDetails) {
        <a [href]="'/payment-history/' + ccdNo + '?view=case-transactions&selectedOption=' + selectedOption + '&dcn=' + dcnNo + '&takePayment=true'+bulkScanningTxt+''"   class="govuk-back-link">Back</a>
      }
    </li>
  </ol>
</div>

@if (!showFeeDetails) {
  <legend>
    <h1 class="heading-xlarge">Search for a fee</h1>
    <input #myInput type='hidden' class='iFrameDrivenImageValue' value='SEARCHFEES'>
  </legend>
}

@if (!showFeeDetails) {
  <pay-fee-register-search
    [APIRoot]='"api"'
  (selectedFeeEvent)="selectFee($event)"></pay-fee-register-search>
}


@if (showFeeDetails) {
  <app-fee-details
    [fee]="preselectedFee"
    (restartSearchEvent)="onGoBack()"
  (submitFeeVolumeEvent)="selectPreselectedFeeWithVolume($event)"></app-fee-details>
}
