

<div class="govuk-width-container">
  <main id="content" role="main">    
    <article class="content__body">
        <a href="/cookies" class="link-back">Back</a>
        <h1 class="heading-xlarge" id="skiplinktarget">
            Cookies
        </h1>
        <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <div id="nav-links">

                <ol class="nav-list ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                    <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="cookies-policy#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">How cookies are used across services</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-5" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="cookies-policy#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Appeal a benefit decision service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="cookies-policy#tabs-3" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-3">Apply for divorce service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="cookies-policy#tabs-4" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-4">Apply for probate service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false"><a href="cookies-policy#tabs-5" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-5">Money claims service</a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-6" aria-selected="false" aria-expanded="false"><a href="cookies-policy#tabs-6" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-6">Family public law service</a></li>
                </ol>
                <hr>

                <div id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false">
                    <h2 class="heading-large" id="overview">How cookies are used across services</h2>

                    <p>A cookie is a small piece of data that’s stored on your computer, tablet, or phone when you visit a website. Most websites need cookies to work properly.</p>
                    <h2>We use them to:</h2>
                    <ul class="list list-bullet">
                        <li>measure how you use the service so it can be improved</li>
                        <li>remember the notifications you’ve seen so that you’re not shown them again</li>
                        <li>temporarily store the answers you give</li>
                    </ul>
                    <p>Find out more about <a target="_blank" href="http://www.aboutcookies.org/" rel="noopener">how to manage cookies<span class="visually-hidden">
                        (opens in a new tab)</span></a>
                        .
                    </p>

                    <h3 class="heading-medium">Cookies used to measure website usage</h3>

                    <p>We use Google Analytics software to collect information about how you use this service. We do this to help make sure the service is meeting the needs of its users and to help us make improvements, for example improving site search.</p>
                    <h2>Google Analytics stores information about:</h2>
                    <ul class="list list-bullet">
                        <li>the pages you visit</li>
                        <li>how long you spend on each page</li>
                        <li>how you got to the service</li>
                        <li>what you click on while you’re visiting the service</li>
                    </ul>
                    <p>We allow Google to use or share our analytics data. You can find out more about how Google use this information in their <a href="https://www.google.com/policies/privacy/partners/" rel="noopener">Privacy Policy</a>.</p>
                    <p>You can <a href="https://tools.google.com/dlpage/gaoptout" rel="noopener">opt out of Google Analytics</a> if you do not want Google to have access to your information</p>
                    <p>Google Analytics sets the following cookies:</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(GOOGLE)">
                            <td class="govuk-table__cell">{{cookie.name}}</td>
                            <td class="govuk-table__cell">{{cookie.purpose}}</td>
                            <td class="govuk-table__cell">{{cookie.expires}}</td>
                          </tr>
                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to turn our introductory message off</h3>
                    <p>You may see a welcome message when you first visit the service. We’ll store a cookie so that your computer knows not to show this message again.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">seen_cookie_message</th>
                            <td>Saves a message to let us know that you’ve seen our cookie message</td>
                            <td>1 month</td>
                        </tr>
                        <tr>
                            <th scope="col">cookies_policy</th>
                            <td>Stores cookies preferences</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <th scope="col">cookies_preferences_set</th>
                            <td>Stores details about cookies preferences</td>
                            <td>1 year</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="heading-medium">Cookies used to measure application performance</h3>
                    <p>We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order to resolve issues within our services as well as collect data on how our services can be improved. HMCTS store information about:</p>
                    <ul class="list list-bullet">
                        <li>site performance</li>
                        <li>website usage</li>
                        <li>user behaviour</li>
                    </ul>

                    <p>Information is presented within the Application Performance Monitoring service for the purposes detailed above. We do not use or share the information for any other purpose. We do not allow Dynatrace to use or share the information for any other purposes.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(DYNATRACE)">
                            <td class="govuk-table__cell">{{cookie.name}}</td>
                            <td class="govuk-table__cell">{{cookie.purpose}}</td>
                            <td class="govuk-table__cell">{{cookie.expires}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-2" aria-labelledby="ui-id-5" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
                    <h2 class="heading-large">Appeal a benefit decision service</h2>
                    <app-cookie-table
                    [title]="SECHEADING"
                    [labelArray]="labelArray"
                    [content]="PARACONTENT"
                    [cookieObject]="cookiesByCat(BENEFIT)"
                    ></app-cookie-table>
                </div>

                <div id="tabs-3" aria-labelledby="ui-id-3" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <h2 class="heading-large">Apply for divorce service</h2>
                    <app-cookie-table
                    [title]="SECHEADING"
                    [labelArray]="labelArray"
                    [content]="PARACONTENT"
                    [cookieObject]="cookiesByCat(BENEFIT1)"
                    ></app-cookie-table>
                    <app-cookie-table
                    [title]="COOKIECONTENT"
                    [labelArray]="labelArray"
                    [content]="COOKIEPARA"
                    [cookieObject]="cookiesByCat(AUTHTOKEN)"
                    ></app-cookie-table>

                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(BENEFIT2)">
                          <td class="govuk-table__cell">{{cookie.name}}</td>
                          <td class="govuk-table__cell">{{cookie.purpose}}</td>
                          <td class="govuk-table__cell">{{cookie.expires}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-4" aria-labelledby="ui-id-4" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <h2 class="heading-large">Apply for probate service</h2>
                    <h3 class="heading-medium">{{SECHEADING}}</h3>
                    <p>{{PARACONTENT}}</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">connect.sid</th>
                            <td>Carries details of your current session</td>
                            <td>When you close your browser</td>
                        </tr>
                        </tbody>
                    </table>
                    <app-cookie-table
                    [title]="COOKIECONTENT"
                    [labelArray]="labelArray"
                    [content]="COOKIEPARA"
                    [cookieObject]="cookiesByCat(AUTHTOKEN)"
                    ></app-cookie-table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(SECURE1)">
                            <td class="govuk-table__cell">{{cookie.name}}</td>
                            <td class="govuk-table__cell">{{cookie.purpose}}</td>
                            <td class="govuk-table__cell">{{cookie.expires}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-5" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                    <h2 class="heading-large">Money claims service</h2>
                    <app-cookie-table
                    [title]="SECHEADING"
                    [labelArray]="labelArray"
                    [content]="PARACONTENT"
                    [cookieObject]="cookiesByCat(MONEYCLAIM)"
                    ></app-cookie-table>

                    <h3 class="heading-medium">{{COOKIECONTENT}}</h3>
                    <p>{{COOKIEPARA}}</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">lang</th>
                            <td>Identifies your prefered language</td>
                            <td>When session ends</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                          <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(SECURE)">
                            <td class="govuk-table__cell">{{cookie.name}}</td>
                            <td class="govuk-table__cell">{{cookie.purpose}}</td>
                            <td class="govuk-table__cell">{{cookie.expires}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tabs-6" aria-labelledby="ui-id-5" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
                    <h2 class="heading-large">Family public law service</h2>
                    <app-cookie-table
                    [title]="SECHEADING"
                    [labelArray]="labelArray"
                    [content]="PARACONTENT"
                    [cookieObject]="cookiesByCat(FAMILY)"
                    ></app-cookie-table>
                    <app-cookie-table
                    [title]="COOKIECONTENT"
                    [labelArray]="labelArray"
                    [content]="COOKIEPARA"
                    [cookieObject]="cookiesByCat(AUTHTOKEN)"
                    ></app-cookie-table>

                    <h3 class="heading-medium">Cookies used to make the service more secure</h3>
                    <p>We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information.</p>
                    <table aria-label="cookie-details" class="govuk-table" >
                        <thead>
                        <tr>
                            <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookiesByCat(MORESERVICE)">
                            <td class="govuk-table__cell">{{cookie.name}}</td>
                            <td class="govuk-table__cell">{{cookie.purpose}}</td>
                            <td class="govuk-table__cell">{{cookie.expires}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>

  </main>
</div>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <div class="open-government-licence">
          <p class="logo">
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
          </p>
          <p>All content is available under the
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
      </div>
    </div>
  </div>
</footer>
