nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_NAME}.preview.platform.hmcts.net
  devcpuRequests: 2000m
  devcpuLimits: 4000m
  environment:
    CCPAY_BUBBLE_URL: https://${SERVICE_FQDN}

idam-pr:
  enabled: true
  redirect_uris:
    pay-bubble:
      - https://${SERVICE_FQDN}/oauth2/callback
