nodejs:
  applicationPort: 3000
  ingressHost: paybubble.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: ccpay
  memoryLimits: 1024Mi
  cpuLimits: 1000m
  readinessDelay: 30
  livenessDelay: 30
  keyVaults:
    "ccpay":
      secrets:
        - paybubble-s2s-secret
        - paybubble-idam-client-secret
        - AppInsightsInstrumentationKey
  environment:
    REFORM_TEAM: ccpay
    REFORM_SERVICE_NAME: ccpay-bubble-frontend
    NODE_ENV: production

    CCPAY_BUBBLE_MICROSERVICE: ccpay_bubble
    CCPAY_BUBBLE_URL:  https://ccpay-bubble-frontend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYHUB_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCPAY_BULKSCAN_API_URL: https://ccpay-bulkscanning-api-pr-207.service.core-compute-preview.internal
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_LOGIN_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o/authorize
    IDAM_AUTHENTICATION_WEB_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net

    FEE_REGISTRATION_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/fees-register/fees
    FEE_JURISDICTION_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/jurisdictions

    CCD_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

idam-pr:
  enabled: false
