nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    CCPAY_BUBBLE_URL: https://${SERVICE_FQDN}
    PAYHUB_API_URL: http://payment-api-pr-806.service.core-compute-preview.internal

idam-pr:
  enabled: true
  redirect_uris:
    pay-bubble:
      - https://${SERVICE_FQDN}/oauth2/callback
