.button-grid {
  list-style-type: none;
  margin-bottom: 20px;

  &--center { text-align: center; }
  &--left { text-align: left; }
  &--right { text-align: right; }

  &__button {
    display: inline-block;

    .content {
      padding: 10px;

      &--ptb { padding: 10px 0; } // padding-top-bottom
      &--plr { padding: 0 10px; } // padding-left-right
    }

    &:first-of-type {
      .content { padding-left: 0; }
    }
    &:last-of-type {
      .content { padding-right: 0; }
    }

    button {
      border: 0;
      color: #ffffff;
      &:hover { border: 0; color: #ffffff; }
    }
  }
}

.button-action {
  background: #dee0e2;
  color: $govuk-text-colour;
  &:hover { background: $govuk-border-colour; color: $govuk-text-colour; }
  &[disabled]:hover { background: #dee0e2; color: $govuk-text-colour; }
}

.button-link {
  background: #f8f8f8;
  color: $govuk-text-colour;
  &:hover { background: #dee0e2; color: $govuk-text-colour; }
}
