
<legend>
  <h1 class="heading-xlarge">Fee details</h1>
</legend>

<table *ngIf="fee" class="table" style="margin-bottom: 20px">
  <tbody>
  <tr>
    <th class="bold" width="80px">Fee code</th>
    <th class="bold" width="620px">Description</th>
    <th class="bold" width="80px">Amount</th>
  </tr>
  <tr>
    <td>{{ fee.code }}</td>
    <td>{{ fee.current_version.description }}</td>
    <td>£{{ fee.current_version['volume_amount']? fee.current_version['volume_amount'].amount : fee.current_version['flat_amount'].amount}}</td>
  </tr>
  </tbody>
</table>
<form>
  <div class="form-group">
    <label *ngIf="fee.current_version['volume_amount']" class="heading-small" for="volumeAmount">
      How many copies do you want?
    </label>
    <label *ngIf="fee.current_version['flat_amount']" class="heading-small" for="volumeAmount">
      <span class="form-hint">You can select a maximum of 10 pages against this fee.</span>
      <span class="form-hint">If the document has more than 10 pages, you must also choose and additional fee.</span>
      How many copies of the document are required?
    </label>
    <input [formControl]="feeVolumeControl"  class="form-control short-input volume-amount-control" autocomplete="off" id="volumeAmount" type="number" min="1"/>
  </div>

  <div class="form-group">
    <div class="button-grid__button">
      <div class="button grey-button button-view" (click)="goBack()">
        Cancel
      </div>
    </div>

    <div class="button-grid__button">
      <div style="margin-left: 10px" class="button button-view" type="submit" (click)="submitVolume()">
        Submit
      </div>
    </div>
  </div>
</form>

