
<div class="govuk-cookie-banner " role="region" id="cm_cookie_notification" attr.aria-label="'Cookies on {{appName}}'" *ngIf="isCookieBannerVisible">
  <div class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on {{appName}}</h2>

        <div class="govuk-cookie-banner__content">
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="accept" type="button" name="cookies" class="govuk-button" data-module="govuk-button" (click)="acceptCookie()">
        Accept analytics cookies
      </button>
      <button value="reject" type="button" name="cookies" class="govuk-button" data-module="govuk-button" (click)="rejectCookie()">
        Reject analytics cookies
      </button>
      <a class="govuk-link" routerLink="/cookies">View cookies</a>
    </div>
  </div>
</div>

<div class="govuk-visually-hidden govuk-cookie-banner__message govuk-width-container" id="accept-all-cookies-success">
  <div class="govuk-width-container">
      <div class="govuk-!-padding-top-5 govuk-!-padding-bottom-5">
          <p class="govuk-body">You’ve accepted additional cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
          <p id="cookie-accept-all-success-banner-hide" class="govuk-body govuk-button-group"><a class="govuk-button" href="#">Hide this message</a></p>
      </div>
  </div>
</div>

<div class="govuk-visually-hidden theme__cookie-success-message-grey" id="reject-all-cookies-success">
  <div class="govuk-width-container">
      <div class="govuk-!-padding-top-5 govuk-!-padding-bottom-5">
          <p class="govuk-body">You’ve rejected additional cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
          <p id="cookie-reject-all-success-banner-hide" class="govuk-body govuk-button-group"><a class="govuk-button" href="#">Hide this message</a></p>
      </div>
  </div>
</div>

<script>
   <link href="/assets/stylesheets/lib/govuk-template.css" media="screen" rel="stylesheet"/>
</script>