doctype html

//if lt IE 9
// [if gt IE 8] <!
// <![endif]
head
	meta(charset="utf-8")
	meta(name="csrf-token" content="csrfToken")
	title CCPay-web-component - Angular
	link(href="/assets/stylesheets/main.css" media="screen" rel="stylesheet")
	// [if gt IE 8] <!
	link(href="/assets/stylesheets/lib/govuk-template.css" media="screen" rel="stylesheet")
	// <![endif]
	//if IE 6
		link(href="/assets/stylesheets/lib/govuk-template-ie6.css" media="screen" rel="stylesheet")
	//if IE 7
		link(href="/assets/stylesheets/lib/govuk-template-ie7.css" media="screen" rel="stylesheet")
	//if IE 8
		link(href="/assets/stylesheets/lib/govuk-template-ie8.css" media="screen" rel="stylesheet")
	link(href="/assets/stylesheets/lib/govuk-template-print.css" media="print" rel="stylesheet")
	//if IE 8
		link(href="/assets/stylesheets/lib/fonts-ie8.css" media="all" rel="stylesheet")
	// [if gte IE 9] <!
	link(href="/assets/stylesheets/lib/fonts.css" media="all" rel="stylesheet")
	// <![endif]
	link(rel="mask-icon" href="/assets/stylesheets/lib/images/gov.uk_logotype_crown.svg" color="#0b0c0c")
	link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/stylesheets/lib/images/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/stylesheets/lib/images/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/stylesheets/lib/images/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon-precomposed" href="/assets/stylesheets/images/apple-touch-icon-60x60.png")
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
	link(href="/assets/stylesheets/lib/HTMLCSAuditor.css" rel="stylesheet")
	base(href="/")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(property="og:image" content="/assets/stylesheets/lib/images/opengraph-image.png")
	// Global site tag (gtag.js) - Google Analytics
	script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-146285829-2")
	script(src="/assets/js/gtags.js")
	link(rel="stylesheet" href="styles.e8b9dd45965e4c43fee3.css")
app-root
#global-app-error.app-error.hidden
// <script src="{{ asset_paths['js_vendor'] }}/govuk-template.js?{{ govuk_template_version }}"></script>
script(type="text/javascript" src="runtime.26209474bfa8dc87a77c.js")
script(type="text/javascript" src="polyfills.bebee6a5ef0ece001bc6.js")
script(type="text/javascript" src="scripts.1f46379a1411668efab1.js")
script(type="text/javascript" src="main.b053ed57c38c84dd6b76.js")
