<app-header [isBSFlagEnable] = "isBulkscanningEnable"></app-header>

<div class="govuk-width-container">
  <app-phase-banner></app-phase-banner>

    <div class="govuk-grid-row">
      <router-outlet></router-outlet>
    </div>
    <app-session-dialog positionTop="300px" *ngIf="timeoutModalConfig.isVisible"  (close)="staySignedInHandler()">
      <h3 class="govuk-heading-m">We are about to sign you out</h3>
      <p class="govuk-body">For your security, we will sign you out of your account in
        <strong style="font-weight: bold">{{timeoutModalConfig.countdown}}</strong>
      </p>
      <p>Any information you have not saved will be lost</p>
      <button type="submit" class="govuk-button stay-signed-in-button" (click)="staySignedInHandler()">
        Stay signed in
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" (click)="signOutHandler()">
        Sign out
      </button>
    </app-session-dialog>
</div>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <div class="open-government-licence">
          <p class="logo">
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
          </p>
          <p>All content is available under the
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
      </div>
    </div>
  </div>
</footer>
