<app-cookie-banner

name="paybubble"
[appName]="'ccpay-bubble'"
></app-cookie-banner>
<a href="#CCDorException" onClick="return false" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<app-header [isBSFlagEnable] = "isBulkscanningEnable"></app-header>

<div class="govuk-width-container">
  <app-phase-banner></app-phase-banner>

    <main id="content" role="main">
      <div class="govuk-grid-row">
        <router-outlet></router-outlet>
      </div>
    </main>

</div>

<footer class="group js-footer" id="footer" role="contentinfo">
<ccpay-bubble-app-footer></ccpay-bubble-app-footer>
</footer>
