hr { background: linear-gradient(to right, transparent, #bbb, transparent); border: 0; height: 1px; }

.login { font-family: 'arial', sans-serif; margin: auto; width: 100%; }

.text {
  padding: 5px;
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}

.help-info { margin-top: 50px; }

#footer { display: block; }

.govuk-link:focus {
  outline: 2px solid #ffdd00;
}

.license:focus {
  outline: 3.5px solid #ffdd00;
}

.license2:focus {
  background-color: #ffdd00;
  outline: 2px solid #ffdd00;
}

.header {
  font-size: 48px;
  margin-bottom: 0px;
}