<h3 class="heading-medium">{{title}}</h3>
<p>{{content}}</p>
<table aria-label="cookie-details" class="govuk-table" >
    <thead>
      <tr>
        <th scope="col" *ngFor="let label of labelArray"> {{label}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="govuk-table__row" scope="col" *ngFor="let cookie of cookieObject">
      <td class="govuk-table__cell">{{cookie.name}}</td>
      <td class="govuk-table__cell">{{cookie.purpose}}</td>
      <td class="govuk-table__cell">{{cookie.expires}}</td>
    </tr>
    </tbody>
</table>
