<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<header role="banner" id="global-header" class="">
  <div class="center-content">
    <div class="bar-header">
      <ul class="bar-header__list bar-header-left">
        <li class="title">
          <a routerLink="/" title="Go to the GOV.UK homepage" class="content">
            <span class="service-title" id="proposition-name">HMCTS PayBubble</span>
          </a>
        </li>
      </ul>

      <ul class="bar-header__list bar-header-right" aria-label="Top Level Navigation">
        <!-- <li *ngIf="showMVP">
            <a id="fee-search-link" class="logout-btn" href="/fee-search">{{ 'Fee Search' }}</a>
        </li> -->
        <li>
          <a id="ccd-search-link" class="logout-btn" href="/ccd-search?takePayment=true">{{ 'Case Transaction' }}</a>
      </li>
      <li>
          <a id="ccd-search-link" class="logout-btn" href="/payment-history">{{ 'Payment history' }}</a>
      </li>
        <li>{{ todaysDate | date:'dd MMM yyyy' }}</li>
        <li>
          <a class="logout-btn" href="/logout">{{ 'Logout' }}</a>
        </li>
      </ul>
    </div>
  </div>
</header>
