<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<header role="banner" id="global-header" class="">
  <div class="center-content">
    <div class="bar-header">
      <ul class="bar-header__list bar-header-left">
        <li class="title">
          <a routerLink="/" title="Go to the GOV.UK homepage" class="content">
            <span class="service-title" id="proposition-name">Paybubble - HMCTS Telephony payments</span>
          </a>
        </li>
      </ul>

      <ul class="bar-header__list bar-header-right" aria-label="Top Level Navigation">
        <li>
          <a href="/payment-details">Cases</a>
        </li>
        <li>{{ todaysDate | date:'dd MMM yyyy' }}</li>
        <li>
          <a class="logout-btn" href="/logout">{{ 'Logout' }}</a>
        </li>
      </ul>
    </div>
  </div>
</header>
