<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <hr class="govuk-section-break govuk-section-break--l">
          <ul
              class="hmcts-footer__list hmcts-footer__list--inline">
              <li class="hmcts-footer__list-item" *ngFor="let item of navigation.items">
                <a class="govuk-footer__link" [routerLink]="item.href" [target]="item.target">{{item.text}}</a>
              </li>
          </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
          {{'© Crown copyright'}}
        </a>
      </div>
    </div>
  </div>
</footer>


<!-- <footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <div class="open-government-licence">
          <p class="logo">
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
          </p>
          <p>All content is available under the
            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
      </div>
    </div>
  </div>
</footer> -->