<fieldset class="form-group" *ngIf="fees">
  <legend>
    <h2 class="heading-small">Select fee</h2>
    <span  class="error-message panel--error" *ngIf="showErrors && !isValid">Select a fee from the list</span>
  </legend> 
  <div class="fee-list" [ngClass]="showErrors && !isValid ? 'fee-list--error': ''">
    <table>
      <thead>
        <tr>
          <th>Fee code</th>
          <th>Fee description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fee of fees">
          <td>
            <div class="multiple-choice">
              <input [id]="fee" [name]="fee" type="radio" [value]="fee.code" (click)="selectFee(fee)"/>
              <label for="fee">{{ fee.code }}</label>
            </div>
          </td>
          <td>{{ fee.description }}</td>
          <td>{{ fee.display_amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
