@if (fees) {
  <fieldset class="form-group">
    <legend>
      <h2 class="heading-small">Select fee</h2>
      @if (showErrors && !isValid) {
        <span  class="error-message panel--error">Select a fee from the list</span>
      }
    </legend>
    <div class="fee-list" [ngClass]="showErrors && !isValid ? 'fee-list--error': ''">
      <table>
        <thead>
          <tr>
            <th>Fee code</th>
            <th>Fee description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          @for (fee of fees; track fee) {
            <tr>
              <td>
                <div class="multiple-choice">
                  <input [id]="fee" [name]="fee" type="radio" [value]="fee.code" (click)="selectFee(fee)" [checked]="savedFee && savedFee.code === fee.code ? true : false"/>
                  <label for="fee">{{ fee.code }}</label>
                </div>
              </td>
              <td>{{ fee.description }}</td>
              <td>{{ fee.display_amount }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </fieldset>
}
